<wa-widget token="NVSOw3V9HgwZr5LFmRbPWI2YhYB53rBR" locale="es" hide-on-mobile="false" hide-on-desktop="false"
    auto-open-launcher="false" just-button="true" button-number="522228173180" button-message="Escibenos por whatssApp"
    tooltip-enabled="true" vce-ready="">
    <div data-v-46f6d6d8="">
        <div data-v-46f6d6d8="" class="sc-launcher" style="background: none;">
            <div data-v-46f6d6d8="" class="sc-tooltip left hidden"><span class="sc-tooltip-text">Envíanos un
                    mensaje</span></div><img data-v-46f6d6d8=""
                src="/images/wha.png"
                class="sc-open-icon"><img data-v-46f6d6d8=""
                src="/images/wha.png"
                class="sc-closed-icon">
            <!---->
        </div>
        <!---->
    </div>
</wa-widget>